body {
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-size: 1.5vw;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#Menu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  border: 1px solid blue;
  border-radius: 1em;
  padding: 0;
  margin: 5em; 
  background-color: #99442280;
  width: 3em;
  height: 3em;
  overflow: hidden;
}
#MenuIcon {
  margin: 0;
  padding: 0.5em 1em;
  width: 3em;
  height: 3em;
}
