:root {
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-size: 1.5vw;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#Menu {
  font-size: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  border: 1px solid blue;
  border-radius: 1em;
  padding: 0;
  margin: 5em; 
  background-color: #99442280;
  width: 6em;
  height: 6em;
  overflow: hidden;
}
#MenuContent {
  font-size: 4em;
  line-height: 1em;
  overflow: scroll;
  height: 100%;
}
.MenuItem {
  margin: 1em;
  background-color: #11223380;
  padding: 1em;
}
#MenuIcon {
  font-size: 200%;
  margin: 0;
  padding: 0.9em 1.1em;
  width: 3em;
  height: 3em;
}
#Menu:focus {
  background-color: #224499f0;
  width: 70%;
  height: 70%;
}
#Menu:focus #MenuIcon {
  display: none;
}
